@import '@fontsource/fira-mono';

:root {
	/* https://coolors.co/12130f-eee82c-aaaaaa-fb3640-14248a */
	--smoky-black: #0b0a07ff;
	--aureolin: #f9e900ff;
	--majorelle-blue: #623ceaff;
	--snow: #fcf7f8ff;
	--grey-snow: rgb(153, 153, 153);
	
	--light-sea-green: #17c3b2ff;

	--font-body: 'Montserrat', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--color-bg-0: rgb(202, 216, 228);
	--color-bg-1: hsl(209, 36%, 86%);
	--color-bg-2: hsl(224, 44%, 95%);
	--color-primary: #ff3e00;
	--color-secondary: #4075a6;
	--color-text: var(--snow);
	--color-text-secondary: var(--grey-snow);
	--column-width: 42rem;
	--column-margin-top: 4rem;

	--divider-color: var(--grey-snow);

	font-family: var(--font-body);
	color: var(--color-text);
}

body {
	min-height: 100vh;
	margin: 0;
	background-color: var(--smoky-black);
}

h1,
h2,
p {
	font-weight: 500;
}

p {
	line-height: 1.5;
}

a {
	color: var(--citron);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}
